/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select::-ms-expand {
  display: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

.mt-7 {
  margin-top: 7px;
}

.mt-30 {
  margin-top: 30px;
}

.form-wrapper.exp {
  padding-top: 250px;
  letter-spacing: -1px;
}

.form-wrapper.exp h2 {
  font-size: 36px;
  letter-spacing: -2.2px;
}

.form-wrapper.exp h4.subtit {
  font-size: 20px;
  text-align: left;
  position: relative;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  margin: 0;
}

.form-wrapper.exp h4.subtit.mt-30 {
  margin-top: 30px;
}

.form-wrapper.exp .form-input {
  width: 632px;
  padding: 47px 80px 55px 90px;
  margin-top: 30px;
}

.form-wrapper.exp .al {
  text-align: left !important;
}

.form-wrapper.exp .tb-result {
  border: 1px solid #c2c2c2;
}

.form-wrapper.exp .tb-result table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.form-wrapper.exp .tb-result td,
.form-wrapper.exp .tb-result th {
  line-height: 50px;
  border-top: 1px solid #e1e1e1;
  padding: 0;
  font-weight: 300;
}

.form-wrapper.exp .tb-result td.nb-t,
.form-wrapper.exp .tb-result th.nb-t {
  border-top: none;
}

.form-wrapper.exp .tb-result th {
  border-right: 1px solid #e1e1e1;
  background: #f2f8ff;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  padding: 0 20px;
}

.form-wrapper.exp .tb-result.th-left table th {
  text-align: left;
}

.form-wrapper.exp .tb-result td {
  color: #2189ff;
  font-size: 16px;
}

.form-wrapper.exp .tb-term {
  border: 1px solid #c2c2c2;
  margin-top: 10px;
}

.form-wrapper.exp .tb-term table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: 14px;
}

.form-wrapper.exp .tb-term td,
.form-wrapper.exp .tb-term th {
  border-top: 1px solid #e1e1e1;
  padding: 15px;
  font-weight: 300;
  border-left: 1px solid #e1e1e1;
}

.form-wrapper.exp .tb-term td.nb-t,
.form-wrapper.exp .tb-term th.nb-t {
  border-top: none;
}

.form-wrapper.exp .tb-term td.nb-l,
.form-wrapper.exp .tb-term th.nb-l {
  border-left: none;
}

.form-wrapper.exp .tb-term thead th {
  border-right: 1px solid #e1e1e1;
  background: #f2f8ff;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  padding-left: 20px;
  text-align: center;
}

.form-wrapper.exp .tb-term.th-left table th {
  text-align: left;
}

.form-wrapper.exp .tb-term tbody th {
  color: #2d3539;
  text-align: center;
}

.form-wrapper.exp .tb-term td {
  color: #738083;
}

.form-wrapper.exp .option-kittype > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.form-wrapper.exp .option-kittype > ul li:not(:first-child) {
  margin-left: 20px;
}

.form-wrapper.exp .option-kittype > ul li.active a {
  color: #0078ff;
}

.form-wrapper.exp .option-kittype > ul li.active a::before {
  background-position: 0 0;
}

.form-wrapper.exp .option-kittype > ul li a {
  color: #b4b4b4;
  position: relative;
  padding-left: 25px;
  font-size: 18px;
  font-weight: 300;
}

.form-wrapper.exp .option-kittype > ul li a::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 3px;
  background-image: url("../img/radio_check.png");
  background-repeat: no-repeat;
  background-position: -20px 0;
}

.form-wrapper.exp .kittype-cnt {
  display: none;
  position: relative;
}

.form-wrapper.exp .kittype-cnt.active {
  display: block;
}

.form-wrapper.exp .chbox_saveaddress {
  margin-top: 7px;
  text-align: left;
}

.form-wrapper.exp .btn-find-address {
  position: absolute;
  right: 0;
  top: 0;
  background: #41c3d2;
  font-size: 15px;
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

.form-wrapper.exp .btn-find-address span::after {
  content: '';
  width: 17px;
  height: 11px;
  background: url("../img/find_btn_arr_white.png") no-repeat;
  display: inline-block;
  margin-left: 10px;
}

.form-wrapper.exp .inputBox-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-wrapper.exp .inputBox-two .inputBox {
  width: 48.8%;
}

.form-wrapper.exp .inputBox-two .inputBox .rdbox {
  margin-top: 10px;
  margin-left: 20px;
}

.form-wrapper.exp .inputBox-two .inputBox input[type="radio"] {
  width: auto;
}

.form-wrapper.exp .inputBox-selectymd {
  border: none;
}

.form-wrapper.exp .inputBox-selectymd::after {
  content: '';
  display: block;
  clear: both;
}

.form-wrapper.exp .inputBox-selectymd select {
  padding-left: 20px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  color: #999;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  border: 1px solid #ddd;
}

.form-wrapper.exp .inputBox-selectymd .inputBox:not(:first-child) {
  margin-left: 7px;
}

.form-wrapper.exp .inputBox-selectymd .inputBox.selectResize {
  overflow: visible;
}

.form-wrapper.exp .inputBox-selectymd .inputBox.selectResize select {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  height: auto;
  line-height: 1;
  padding: 17px 0 17px 20px;
}

.form-wrapper.exp .inputBox-selectymd .inputBox.selectResize select option {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -20px;
  padding-left: 20px;
}

.form-wrapper.exp .inputBox-selectymd .inputBox.selectResize select option:hover {
  background: #41c3d2;
  color: #fff;
}

.form-wrapper.exp .inputBox-selectymd .inputBox {
  width: 105px;
  float: left;
  height: 52px;
}

.form-wrapper.exp .inputBox-selectymd .inputBox:nth-of-type(1) {
  width: 116px;
}

.form-wrapper.exp .choose-child {
  position: relative;
  margin-top: 30px;
}

.form-wrapper.exp .choose-child .btn-addChild {
  position: absolute;
  right: 0;
  top: 0;
  background: #41c3d2;
  font-size: 13px;
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  width: 134px;
}

.form-wrapper.exp .choose-child .btn-addChild span::before {
  content: '';
  width: 11px;
  height: 11px;
  background: url("../img/btn_plus_w.png") no-repeat;
  display: inline-block;
  margin-right: 5px;
}

.form-wrapper.exp .choose-child .child-list {
  border: 1px solid #e1e1e1;
  height: 52px;
  margin-top: 7px;
}

.form-wrapper.exp .choose-child .child-list .rdbox {
  display: inline-block;
  margin-top: 11px;
}

.form-wrapper.exp .choose-child .child-list .rdbox:not(:first-child) {
  margin-left: 20px;
}

.form-wrapper.exp .selectBox {
  position: relative;
  overflow: hidden;
}

.form-wrapper.exp .selectBox select {
  border: none;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background: #fff url("../img/join_sel_arr.png") no-repeat;
  background-position: calc(100% - 15px) 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  padding-left: 20px;
  color: #999;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  float: left;
}

.form-wrapper.exp .selectBox select:focus {
  outline: none;
}

.form-wrapper.exp .selectBox .btn-addChild {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #e6eff0;
  display: block;
  width: 140px;
  height: 50px;
  line-height: 50px;
  border-left: 1px solid #e1e1e1;
  color: #333;
}

.form-wrapper.exp .selectBox .btn-addChild span::before {
  content: '';
  width: 11px;
  height: 11px;
  background: url("../img/btn_plus.png") no-repeat;
  display: inline-block;
  margin-right: 5px;
}

.form-wrapper.exp .info-text {
  background-color: #f5f5f5;
  padding: 10px 15px 10px 15px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 13px;
  color: #666;
  letter-spacing: -1px;
}

.form-wrapper.exp .info-text .app {
  padding-bottom: 20px;
  background: url("../img/line_dash.png") repeat-x left bottom;
  margin-bottom: 20px;
}

.form-wrapper.exp .pagination {
  display: inline-block;
  letter-spacing: -10px;
  margin-top: 20px;
}

.form-wrapper.exp .pagination a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: -1px;
  color: #333;
  vertical-align: middle;
}

.form-wrapper.exp .pagination a:not(:first-child) {
  margin-left: 5px;
}

.form-wrapper.exp .pagination a.page-num {
  border: 1px solid #e1e1e1;
}

.form-wrapper.exp .pagination a.page-prev {
  background-image: url("../img/paging.png");
  background-position: 0 0;
}

.form-wrapper.exp .pagination a.page-next {
  background-image: url("../img/paging.png");
  background-position: -30px 0;
}

.form-wrapper.exp .pagination a.on {
  font-weight: 700;
  border: none;
  background-color: #41c3d2;
  color: #fff;
}

.form-wrapper.exp .subscribe-progress {
  text-align: center;
  letter-spacing: -10px;
}

.form-wrapper.exp .subscribe-progress span {
  display: inline-block;
  letter-spacing: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #e1e1e1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-wrapper.exp .subscribe-progress span:not(:first-child) {
  margin-left: 7px;
}

.form-wrapper.exp .subscribe-progress span.current {
  background: #41c3d2;
  border: none;
}

.form-wrapper.exp .notify {
  text-align: left;
  margin-bottom: 7px;
}

.form-wrapper.exp .subscribe-delivery {
  position: relative;
}

.form-wrapper.exp .select-subscribe-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e1e1e1;
}

.form-wrapper.exp .select-subscribe-option .inputBox {
  width: 320px;
  border: none;
  margin-top: 0;
}

.form-wrapper.exp .select-subscribe-option .inputBox select {
  color: #333 !important;
  letter-spacing: -1px;
}

.form-wrapper.exp .select-subscribe-option .option-price {
  height: 50px;
  line-height: 50px;
  font-size: 13px;
}

.form-wrapper.exp .select-subscribe-option .option-price strong {
  color: #ff7800;
  font-weight: 700;
  font-size: 18px;
}

.form-wrapper.exp .apply-complete {
  margin-top: 30px;
}

.form-wrapper.exp h2.complete {
  line-height: 42px;
}

.form-wrapper.exp h2.complete::before {
  content: '';
  width: 96px;
  height: 96px;
  display: block;
  background: url("../img/join_complete_ico.png") no-repeat;
  margin: -5px auto 20px auto;
}

.form-wrapper.exp .info-cancel {
  border: 1px solid #e1e1e1;
  height: 52px;
  line-height: 52px;
  color: #333;
  font-size: 15px;
  text-align: left;
  padding-left: 20px;
  position: relative;
}

.form-wrapper.exp .info-cancel .btn-view-term {
  position: absolute;
  right: 8px;
  top: 8px;
  background: #41c3d2;
  font-size: 13px;
  text-align: center;
  color: #fff;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
}

.form-wrapper.exp .info-cancel .btn-view-term span::after {
  content: '';
  width: 17px;
  height: 11px;
  background: url("../img/find_btn_arr_white.png") no-repeat;
  display: inline-block;
  margin-left: 10px;
}

.form-wrapper.exp .li-dash > li {
  position: relative;
  padding-left: 7px;
  line-height: 22px;
}

.form-wrapper.exp .li-dash > li::before {
  content: '';
  width: 4px;
  height: 1px;
  background: #666;
  position: absolute;
  left: 0;
  top: 10px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1200;
}

.popup .popup-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 420px;
  position: relative;
  background: #fff;
  border-radius: 30px;
  padding: 31px 45px 35px 40px;
}

.popup .btn-close-pop {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 23px;
  height: 23px;
  background: url("../img/btn_close_pop.png") no-repeat;
}

.popup h3 {
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  padding-bottom: 5px;
}

.popup.popup--addChild {
  display: none;
}

.popup.popup--addChild h3 {
  padding-bottom: 6px;
}

.popup.popup--addChild .popup-container {
  padding-right: 40px;
}

.popup.popup--completeExp {
  display: none;
}

.popup.popup--completeExp .popup-container {
  padding-top: 55px;
  width: 500px;
}

.popup.popup--completeExp .popup-container h2.complete {
  margin-bottom: 20px;
}

.popup.popup--completeExp .info-text {
  padding: 30px 30px 20px 30px;
  margin-top: 20px;
  margin-bottom: 0;
}

.popup.popup--completeExp-paid {
  display: none;
}

.popup.popup--completeExp-paid .popup-container {
  padding-top: 55px;
  width: 942px;
}

.popup.popup--completeExp-paid .info-text,
.popup.popup--completeExp-paid .tb-result {
  margin-top: 0;
}

.popup.popup--completeExp-paid .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.popup.popup--completeExp-paid .col > div {
  width: 48.8%;
}

.popup.popup--completeExp-paid h2.complete {
  line-height: 42px;
}

.popup.popup--completeExp-paid h2.complete::before {
  content: '';
  width: 96px;
  height: 96px;
  display: block;
  background: url("../img/join_complete_ico.png") no-repeat;
  margin: -5px auto 20px auto;
}

.popup.popup--completeExp-paid .info-text {
  padding: 30px 30px 20px 30px;
  margin-bottom: 0;
}

.popup.popup--address {
  display: none;
}

.popup.popup--address .popup-container {
  width: 450px;
  padding-right: 40px;
}

.popup.popup--address .address-list {
  margin-top: 9px;
  text-align: left;
}

.popup.popup--address .address-list .item {
  position: relative;
  border-bottom: 1px solid #e1e1e1;
  padding: 18px 0 15px 0;
  font-size: 14px;
  color: #666;
  line-height: 22px;
}

.popup.popup--address .address-list .item:nth-of-type(1) {
  padding-top: 28px;
  background: url("../img/line_dash.png") top left repeat-x;
}

.popup.popup--address .address-list .item .btn-sel {
  position: absolute;
  right: 0;
  width: 80px;
  height: 40px;
  line-height: 40px;
  top: 50%;
  margin-top: -20px;
  font-size: 15px;
  font-weight: 500;
}

.popup.popup--address .address-list .item strong {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.popup.popup--terms .popup-container {
  width: 530px;
  padding: 50px 40px;
}

.popup.popup--terms .popup-container h3 {
  padding-bottom: 15px;
  background: url("../img/line_dash.png") repeat-x left bottom;
}

.popup.popup--terms .term-box {
  margin-top: 30px;
  max-height: 482px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  font-size: 14px;
  color: #738083;
  font-weight: 300;
}

.popup.popup--terms .term-box h4 {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  padding-bottom: 10px;
  margin: 0;
}

.popup.popup--terms .term-box h4:not(:first-child) {
  margin-top: 40px;
}

.popup.popup--common .popup-container {
  width: 404px;
}

.popup.popup--common .popup-logo {
  padding-bottom: 30px;
  background: url("../img/line_dash.png") repeat-x left bottom;
}

.popup.popup--common .popup-logo::before {
  content: '';
  width: 106px;
  height: 51px;
  background: url("../img/logo_login.png") no-repeat;
  background-size: contain;
  margin: 0 auto;
  display: block;
}

.popup.popup--common .content {
  padding: 40px 0 39px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}

.popup.popup--common .btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.popup.popup--common .btn-area.btn-type2 > a {
  width: 50%;
}

.popup.popup--common .btn-area > a {
  display: block;
  margin-top: 0;
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  width: 100%;
}

.popup.popup--common .btn-area > a:not(:first-child) {
  margin-left: 10px;
}

.popup.popup--common .btn-area > a.btn-gray {
  background: #c0c0c0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .form-wrapper.exp .inputBox-selectymd .inputBox.selectResize select {
    height: 50px;
    padding: 13px 0 13px 20px;
  }
  .form-wrapper.exp .selectBox select {
    background-position: 90% 24px;
  }
}
/*# sourceMappingURL=apply.css.map */